.review-container {
  max-width: 700px;
  margin: 90px auto;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  font-family: "Poppins", sans-serif;
  color: #1d1919;
  transition: all 0.3s ease-in-out;
}

.review-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

.review-container h2 {
  text-align: center;
  color: #2b7a78;
  margin-bottom: 25px;
  font-size: 1.8rem;
  border-bottom: 2px solid #def2f1;
  padding-bottom: 10px;
}

.review-details {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  line-height: 1.8;
}

.review-details p {
  margin: 8px 0;
  font-size: 1rem;
  display: flex;
  /* justify-content: space-between; */
  border-bottom: 1px dashed #e0e0e0;
  padding-bottom: 5px;
}

.review-details strong {
  color: #17252a;
  width: 40%;
}

.review-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.review-buttons button {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.back-btn {
  background-color: #feefc3;
  color: #5f4339;
}

.back-btn:hover {
  background-color: #ffe082;
  transform: scale(1.05);
}

.final-btn {
  background-color: #2b7a78;
  color: white;
}

.final-btn:hover {
  background-color: #205c5a;
  transform: scale(1.05);
}